<div align="middle">
	<h2>Welcome to AndroidApp home</h2>
</div>


<div id="footer" align="middle">

<br><br><br>
<a href="./alunos#index">Checar Alunos</a>
<a href="./alunos/new">Novo Aluno</a>
</div>