/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
 	margin: 0%;
}
body{
 	background-color: #4CAF50;
}

.main a{
	color: white;
	text-decoration: none;
	background-color: #4CAF50;
	margin: 4px 2px;
	padding: 16px 32px;
	border-radius: 4px;
	font-weight: bold;
}
.main a:hover{
	background-color: #4CAF50;
	color: white;
}
.main a:visited{
	color: white;
}

.main input[type=submit]{
	color: white;
	text-decoration: none;
	background-color: #4CAF50;
	border: none;
	margin: 4px 2px;
	padding: 16px 32px;
	border-radius: 4px;
	font-weight: bold;
	cursor: pointer;
}

.main input[type=text]{
	padding: 12px 20px;
	margin: 8px 5px;
	box-sizing: border-box;
	border: 2px solid #4CAF50;
	border-radius: 4px;
}

.main select{
	width: 250px;
	height: 30px;
	margin: 8px 5px;
	padding: 2px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 4px;
	background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;
	background-position: 218px center;
	border: none;
}

#menu{
	background-color: #4CAF50;
	align-content: center;
	padding: 0%;
	text-align: center;
}
#menu li{
	display: inline;
}
#menu li a{
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	padding: 1% 6%;
}

#menu li a:hover{
	background-color: #2C8F28;
	color: #FFFFFF;
	animation: 1s ease 0s alternate none infinite running text-shadow;
	transform: perspective(400px) rotateY(0deg);
}

.menuEsquerdo{
	float: right;
	background-color: #FFFFFF;
	align-content: center;
	padding: 0%;
	text-align: center;
	margin: 2px 2px;
}
.menuEsquerdo ul{
	padding: 0px;
}
.menuEsquerdo li{
	display: block;
}
.menuEsquerdo li a{
	background-color: #4CAF50;
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	margin: 4px 2px;
	padding: 16px 32px;
	border-radius: 4px;
}

.menuEsquerdo li a:hover{
	background-color: #2C8F28;
	color: #FFFFFF;
	animation: 1s ease 0s alternate none infinite running text-shadow;
	transform: perspective(400px) rotateY(0deg);
}

@keyframes text-shadow{
	0% {
	    text-shadow: 0px 0px #000;
	}
	100% {
	    text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);
	}
}

.header h1{
	color: #FFFFFF;
	padding-left: 5%;
}

.header{
	background-color: #4CAF50;
}

.bootstrap{
 	width: 99.6%;
 	height: 100%;
 	margin-left: 0.2%;
 	background-color: #FFFFFF;
 }

.shadow{
	width: 80%;
	margin-left: 10%;
	background-color: #4CAF50;
}

.main{
	margin-top: 2%;
 	width: 65%;
}
