
<br>
<br>
<br>

<a id="img" href="https://github.com/matheuscruzsouza/AndroidApp">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2000px-Octicons-mark-github.svg.png" alt="GitHub do projeto" width="30px" height="30px" />
</a>

<br>

