
<ul id="menu">
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "Alunos", alunos_path %></li>
	<li><%= link_to "Professores", professores_path %></li>
	<li><%= link_to "Disciplinas", disciplinas_path %></li>
</ul>

<style type="text/css">
	#menu{
		background-color: #5A5A5A;
	}
	#menu li{
		display: inline;
	}
	#menu li a{
		display: inline-block;
		text-decoration: none;
		font-weight: bold;
		padding: 1% 2%;
	}

	#menu li a:hover{
		background-color: #5D5D5D;
		color: #FFFFFF;
	}
</style>