<header>

<br>

<h1> Academico </h1>

<br>
<br>

<nav id="menu">
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "Alunos", alunos_path %></li>
	<li><%= link_to "Professores", professores_path %></li>
	<li><%= link_to "Disciplinas", disciplinas_path %></li>
</nav>
</header>