
<ul id="menu">
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "Alunos", alunos_path %></li>
</ul>

<style type="text/css">
	#menu li{
		display: inline;
	}
	#menu li a{
		display: inline-block;
		padding: 1% 2%;
	}

	#menu li a:hover{
		background-color: #EDEDED;
		border-radius: 10% 10%;
	}
</style>